@()

@admin.app("Admin Dashboard") {
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Products</h1>
    </div>


    <div class="row">

            <!-- Area Chart -->
        <div class="col-xl-8 col-lg-7">
            <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Inventory of Products</h6>
                </div>
                    <!-- Card Body -->
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-borderless table-striped">
                            <thead>
                                <tr>
                                    <th>SNo</th>
                                    <th>Name</th>
                                    <th>Product ID</th>
                                    <th>Price</th>
                                    <th>Qty</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>HP ProBook 6570b</td>
                                    <td>2354126</td>
                                    <td>150000XAF</td>
                                    <td>14</td>
                                    <td><button class="btn btn-primary btn-sm"><span class="fa fa-eye"></span></button></td>
                                </tr>
                                <tr class="text-center">
                                    <td colspan="6">No Product Found</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>

            <!-- Pie Chart -->
        <div class="col-xl-4 col-lg-5">
            <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Add New Product</h6>
                </div>
                    <!-- Card Body -->
                <div class="card-body">
                    <form method="POST">

                        <div class="form-group">
                            <label>Product Name</label>
                            <input type="text" class="form-control"
                                name="name" value="" placeholder="Samsung Galaxy S6" required>
                        </div>

                        <div class="form-group">
                            <label>Price</label>
                            <input type="number" class="form-control"
                                name="price"value="" placeholder="1500000" required>
                        </div>

                        <div class="form-group">
                            <label>Quantity</label>
                            <input type="number" class="form-control"
                                name="quantity" value="" min="1" placeholder="10" required>
                        </div>

                        <div class="form-group">
                            <label>Description</label>
                            <textarea class="form-control" name="description"></textarea>
                        </div>

                        <button type="submit" class="btn btn-primary btn-block">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
}